/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2018, 11:44:29 AM
    Author     : dbyrd
*/

.bimg{
    width:100%;
    background:url('/assets/elevation-banner3.jpg');
}
.dropdown:hover .dropdown-menu {
display: block;
animation-delay: 1;
animation-duration: .5;
}


.bgfull {
    /* The image used */
    background-image: url("/assets/c68748e8/elevation-banner3.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bghalf {
    /* The image used */
    background-image: url("/assets/c68748e8/elevation-banner3.jpg");

    /* Half height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body

{

	margin: 0;

	padding: 0;

	color: #666;

	font: normal 10pt Arial,Helvetica,sans-serif;

        background-color: #69AE88;

        background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#B2D7EA), to(#69AE88));

        background: -moz-linear-gradient(top, #B2D7EA 0%, #69AE88 70%);

}


/* Container holding the image and the text */
.image-container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.image-text-centered {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}